body{
  letter-spacing:1.5px;
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-brand{
  font-size: 2.4rem;
  font-weight:lighter;
  color: black;
}

.navbar{
  height: 110px;
  padding: 0 80px;
  font-size: 1.6rem;
  font-weight: inherit;
  background: linear-gradient(to left, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card{
  font-size: 21px;
  width: 70%;
  margin-left: 8%;
}

#updates{
  font-size: 22px;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-right: 6%;
}

.d1{
  border: 2px solid rgb(245, 1, 1);
}
.d2{
  border: 2px solid rgb(87, 87, 192);
}
.d3{
  border: 2px solid rgb(42, 158, 42);
}
.d4{
  border: 2px solid rgb(71, 67, 67);
}

#second{
  margin-top: 4%;
  margin-right:9%;
}

h2{
  margin-bottom: 3%;
}


table{
  font-size: 17px;
}

#chartContainer{
  margin-left: 25%;
  margin-bottom: 10%;
}

h3{
  margin:3% auto;
}

footer{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

a{
  color: white;
}

a:hover{
  color: white;
  text-decoration: none;
}